doctype html
html
   head
      title= title
      link(rel='stylesheet' href='/css/garden.css')
      link(rel='stylesheet' href='/css/bootstrap.css')
      script(type='text/javascript', src="/socket.io/socket.io.js")
      script(src='/js/jquery1.7.2.js')
      script(type='text/javascript', src='/js/analyzer.js')
   body
      div#deviceSelectionArea
         div(class='selectSphero selectSpheroLeft')#btnDeviceOne
            span 1
         div(class='selectSphero selectSpheroRight')#btnDeviceTwo
            span 2
         div(class='connectSphero1Button')#btnConnectSphero1
            span(class='connectDeviceButtonText')#connectSphero1ButtonTextConnect Connect
            span(class='connectDeviceButtonText')#connectSphero1ButtonTextConnecting Connect
         div(class='connectSphero2Button')#btnConnectSphero2
            span(class='connectDeviceButtonText')#connectSphero2ButtonTextConnect Connect
            span(class='connectDeviceButtonText')#connectSphero2ButtonTextConnecting Connect
      div#controlArea
         span(class='glyphicon glyphicon-arrow-left controlAreaBack')#controlAreaBackToMenu
         button(class='btn btn-primary btnCalibration')#btnStartCalibration Start calibration
         button(class='btn btn-primary btnCalibration')#btnFinishCalibration Finish calibration
      script(type='text/javascript', src='/js/device-orientation.js')